// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap.scss';

// Icons
@import 'bootstrap-icons/font/bootstrap-icons.css';

.navbar-nav {
    width: calc(100vw - 24px);
}

.navbar-brand {
    position: absolute;
    top: calc(0px + 8px);
    padding: 8px;
}

.move-right a {
    display: inline-block;
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        position: relative;
        top: 0;
    }

    .move-right a {
        display: block;
    }
}
